Topic:POS Tagger

Front-end-work:
	1.Make website responsive.
	2.Use of jinja2 framework.
	3.Routng using Flask.

Back-end-work:
	1.Experiments and quizes to be stored in database.
	2.Use of flask and sqlite.
	3.Converting php file to python.
